
<div class="display">
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="Intro" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Welcome</mat-card-title>
                <mat-card-subtitle>To</mat-card-subtitle>
              </mat-card-header>
            <mat-card-content></mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-display ></app-display>
    </mat-grid-tile>
  </mat-grid-list>
</div>