<section class="display">

  <div style="color: white;">
    <h1>Welcome</h1>
    <h2>To</h2>
    <h3>The world of BitCoin</h3>
  </div>
  <section class="actual-display">
    <div *ngIf="curr">
      <h3 style="color: aliceblue;">{{curr.data.base}}</h3>
        <mat-card class="example-card" appearance="outlined">
            <mat-card-content>{{curr.data.currency}}:{{curr.data.amount}}</mat-card-content>
          </mat-card>
    </div>
    <br>
    <mat-form-field style="margin-right: 5px;">
      <mat-label>Country-Currency</mat-label>
      <mat-select [(value)]="selectedvalue">
        @for (food of foods; track food) {
          <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Crypto Coin Selector</mat-label>
      <mat-select [(value)]="selected_bit_coin">
        @for (food of bit_tokens; track food) {
          <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
        }

      </mat-select>

    </mat-form-field>
    <div class="example-button-row">
      <button mat-flat-button (click)="getData(selectedvalue,selected_bit_coin)">Submit</button>
    </div>
  </section>
</section>
